html, body
  height 100%
  overflow-x hidden

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #CCCCCC

footer
  margin-bottom -50px
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
.navbar-form
  .form-group
     margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.top-margin-xsmall
  margin-top 2px

.right-margin-med
  margin-right 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

//-sticky footer*/
#wrapper
  min-height 100%
  height auto
  //- Negative indent footer by its height */
  margin 0 auto -60px
  //- Pad bottom by footer height */
  padding 0 0 60px


//- Set the fixed height of the footer here */
#footer
  height 60px
  background-color #f5f5f5
  width 100%
  position absolute
  bottom 0


//- ANIMATIONS

//- leaving animations 
//- slide out from sides
//- LEFT

@-webkit-keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-o-keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-ms-keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

//- RIGHT
@-webkit-keyframes slideOutRight {
    to      { transform: translateX( 100%); }
}
@-moz-keyframes slideOutRight {
    to      { transform: translateX( 100%); }
}
@-o-keyframes slideOutRight {
    to      { transform: translateX( 100%); }
}
@-ms-keyframes slideOutRight {
    to      { transform: translateX( 100%); }
}
@keyframes slideOutRight {
    to      { transform: translateX( 100%); }
}

//-entering animations 
//- slide in from the right
@-webkit-keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}@-o-keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-ms-keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

//- slide from bottom
@-webkit-keyframes slideUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-o-keyframes slideUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-ms-keyframes slideUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@keyframes slideUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}


//- Ng Animation Directives*/
.ng-enter
  z-index 8888
.ng-leave
  z-index 9999

//- page specific animations


//- default animation
.page-site.ng-enter
  -webkit-animation slideInRight 1.5s both ease-out
  -moz-animation slideInRight 1.5s both ease-out
  -o-animation slideInRight 1.5s both ease-out
  -ms-animation slideInRight 1.5s both ease-out
  animation slideInRight 1.5s both ease-out
  opacity 0

.page-site.ng-enter-active
  -webkit-animation slideInRight 1.5s both ease-out
  -moz-animation slideInRight 1.5s both ease-out
  -o-animation slideInRight 1.5s both ease-out
  -ms-animation slideInRight 1.5s both ease-out
  animation slideInRight 1.5s both ease-out
  opacity 1

.page-site.ng-leave
  -webkit-animation slideOutLeft 0.3s both ease-in
  -moz-animation slideOutLeft 0.3s both ease-in
  -o-animation slideOutLeft 0.3s both ease-in
  -ms-animation slideOutLeft 0.3s both ease-in
  animation slideOutLeft 0.3s both ease-in
  position absolute

// Animated Notes

.note-box.ng-enter
  -webkit-animation slideInRight 1.5s both ease-out
  -moz-animation slideInRight 1.5s both ease-out
  -o-animation slideInRight 1.5s both ease-out
  -ms-animation slideInRight 1.5s both ease-out
  animation slideInRight 1.5s both ease-out
  
.note-box.ng-enter-active
  -webkit-animation slideInRight 1.5s both ease-out
  -moz-animation slideInRight 1.5s both ease-out
  -o-animation slideInRight 1.5s both ease-out
  -ms-animation slideInRight 1.5s both ease-out
  animation slideInRight 1.5s both ease-out

.note-box.ng-leave
  -webkit-animation slideOutRight 0.3s both ease-in
  -moz-animation slideOutRight 0.3s both ease-in
  -o-animation slideOutRight 0.3s both ease-in
  -ms-animation slideOutRight 0.3s both ease-in
  animation slideOutRight 0.3s both ease-in

.note-box.ng-leave-active
  -webkit-animation slideOutRight 0.3s both ease-in
  -moz-animation slideOutRight 0.3s both ease-in
  -o-animation slideOutRight 0.3s both ease-in
  -ms-animation slideOutRight 0.3s both ease-in
  animation slideOutRight 0.3s both ease-in

.note-box.ng-move
  -webkit-animation slideUp 0.3s both ease-in
  -moz-animation slideUp 0.3s both ease-in
  -o-animation slideUp 0.3s both ease-in
  -ms-animation slideUp 0.3s both ease-in
  animation slideUp 0.3s both ease-in

.note-box.ng-move-active
  -webkit-animation slideUp 0.3s both ease-in
  -moz-animation slideUp 0.3s both ease-in
  -o-animation slideUp 0.3s both ease-in
  -ms-animation slideUp 0.3s both ease-in
  animation slideUp 0.3s both ease-in 

.red
  background-color #ff0000

.blue
  background-color #0000ff

.green
  background-color #00ff00

.yellow
  background-color #00ffff